

.section1{
    position: absolute;
    margin: 47px  456px 775px 456px;
    width: 529px;
    height: 202px;
}


label#lNome{
    
    width: 45px;
    height: 16px;
    margin-right: 49px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}

input#nome{
    
    width: 435px;
    height: 28px;
    left: 550px;
    top: 47px;

    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
}

label#lMensagem{
    
    width: 74px;
    height: 16px;
    left: 456px;
    top: 96px;
    margin-right: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}

input#msg{
   
    width: 435px;
    height: 107px;
    left: 550px;
    top: 90px;
    margin-top: 15px;
    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
}

button#enviar{
    
    color: #202020;
    width: 114px;
    height: 37px;
    left: 663px;
    top: 212px;
    margin-top: 15px;
    background: #C4C4C4;
}
.enviar{
    display:flex;
    justify-content: center;
}

.section2{
    position: absolute;
    width: 171px;
    height: 36px;
    left: 456px;
    top: 302px;

}

input#obterMSG{
    
    width: 171px;
    height: 36px;
    left: 456px;
    top: 302px;

    background: #C4C4C4;
}

.section3{
    position: absolute;
    width: 547px;
    height: 504px;
    left: 438px;
    top: 346px;

}

article{
    width: 547px;
    height: 105px;
    background: #c4c4c4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}